{% extends "base.html" %}
{% set active_page = "analytics" %}

{% block title %}Analytics{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Analytics</h1>


{% if model_predictions %}
<h2>Model Predictions with new cutoff of {{reclass_conf_lev_cutoff}}</h2>

<div id="vis1" class="vis">
    <div id="hist" class="vis-inner"/>
</div>

<div id="space" class="space">
<!--     this is just for some spacing so the image doesn't show up in a weird place -->
</div>

<img src="static/images/analytics/conf_table_reclassified.png" alt="Model Classification Table" width=”500″ height=”600″>

{% else %}
<h2>Model Predictions</h2>

<div id="vis1" class="vis">
    <div id="hist" class="vis-inner"/>
</div>

<div id="space" class="space">
<!--     this is just for some spacing so the image doesn't show up in a weird place -->
</div>

<img src="static/images/analytics/conf_table_initial.png" alt="Model Classification Table" width=”500″ height=”600″>
{% endif %}


<h3>Reclassify with new confidence level</h3>
<form action="/reclassify_predictions" method="post">
    <input type="number" name="conf_lev" id="conf_lev"
    max="1.0000000000000000" min="0.0000000000000000" 
    placeholder="e.g. 0.50" step="0.01" 
    value="" required />
    <input type="submit">
</form>

<h3>Sample Image Predictions</h3>
<h4>Predicted Contains Animal</h4>
<figure>
    <img src="static/images/inference_images/09090019_JPG.rf.b8def9071a90f5525f050cb0e0d892f9.jpg" alt="Model Classification Table" width=”100″ height=”120″>
    <figcaption>09090019_JPG.rf.b8def9071a90f5525f050cb0e0d892f9.jpg</figcaption>
</figure>
<h4>Predicted Does Not Contains Animal</h4>
<figure>
    <img src="static/images/inference_images/09290155_JPG.rf.31d35cd944998b1dbd0fa0358fcb0093.jpg" alt="Model Classification Table" width=”100″ height=”120″>
    <figcaption>09290155_JPG.rf.31d35cd944998b1dbd0fa0358fcb0093.jpg</figcaption>
</figure>


<!-- scripts to fill histogram/analytics viz divs -->
<script>
  var concat_chart = JSON.parse({{concat_chart|tojson|safe}});
  vegaEmbed("#hist", concat_chart, {mode: "vega-lite"}).then(console.log).catch(console.warn);
</script>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}