{% extends "base.html" %}
{% set active_page = "analytics" %}

{% block title %}Analytics{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Analytics</h1>

{% if yournum %}
<h2>Your number is {{yournum}} and the result is {{result}}.</h2>
{% endif %}

<h2>Model Predictions</h2>
{{model_predictions}}
<!-- <html> 
  <head> 
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script> 
    $(function(){
      $("#includedContent").load("classification_table.html"); 
    });
    </script> 
  </head> 

  <body> 
     <div id="includedContent"></div>
  </body> 
</html> -->



<h3>Form 1: Add 2</h3>
<form action="/form1" method="post">
    <input type="number" name="number" value="" required />
    <input type="submit">
</form>

<h3>Form 2: Add 100</h3>
<form action="/form2" method="post">
    <input type="number" name="number" value="" required />
    <input type="submit">
</form>

<h3>Form 3: Reclassify with new confidence level</h3>
<form action="/form3" method="post">
    <input type="number" max = "1.0" min = "0.0" placeholder="e.g. 0.50" step="0.01" id = "conf_lev" name="conf_lev" value="" required />
    <input type="submit">
</form>



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}