{% extends "base.html" %}
{% set active_page = "inference" %}

{% block title %}Inference{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}


{% block page_content %}
<h1 class="cap">Automatic Object Detection</h1>
    <p>Congratulations! You’ve trained a ML vision system that will greatly reduce the amount of manual work 
        required to find insightful information about objects in your images.
    <br>
</p>

<html>

<head>
    <title>AniML - Model 2. Customized Object Detection and Classification </title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <link rel="stylesheet" href="../static/css/style3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
    <h2> AniML - Model 2. Customized Object Detection and Classification </h2>
</head>

<body>
    <br>
    <h3>Object Detection</h3>
    <p> 
        Time to put your custom ML Vision system to work - add new images with your object of interest here and your model will 
        automatically run inference and find the objects you’ve trained it to detect. You can review the prediction results by 
        selecting “View” and scrolling to the bottom to see the image, the location and the confidence of the prediction.
        Check out the predictions - if things look good, proceed to 3.2 (review, analytics, and download) or, if predictions are poor, 
        try labeling more images and re-training your model on step 2.2.
    </p>
    <div class="container">
        <div class="col-sm-12">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="file" id="label_file">&nbsp;</label>
                    <input class="form-control" type="file" id="input_file" multiple />
                </div>
                <div class="form-group col-md-4">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary btn-block" id="btn-process">Upload Images & Classify Objects</button>
                </div>
            </div>

            <div class="form-row" id="row_results">
                <div class="form-row" id="row_detail">
                    <div class="col-md-3"><textarea id="result_txt" style="height: 800px; font-size: 12px;"></textarea></div>
                    <div class="col-md-9"><a id="result_link"><img id="result_img" width="600px" /></a></div>
                </div>

                <div class="col-md-12">
                    <p>
                        Click any of the view buttons below to view individual filtering model results here. 
                    </p>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <table border="1px solid" id="table_result">
                                <thead>
                                    <th>Task Id</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
<br><br>
<!-- <p>Save files once you have viewed that they have an animal (do not save null images, donated by '[]'</p>
<button onclick="tableloopfx()">Save animal files</button> -->

<style type="text/css">
    /* Callout box - fixed position at the bottom of the page */
    .callout {
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
    }

    /* Callout header */
    .callout-header {
    padding: 25px 15px;
    background: #555;
    font-size: 30px;
    color: white;
    }

    /* Callout container/body */
    .callout-container {
    padding: 15px;
    background-color: #ccc;
    color: black
    }

    /* Close button */
    .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    }

    /* Change color on mouse-over */
    .closebtn:hover {
    color: lightgrey;
    }
</style>

<div class="callout">
    <div class="callout-header">**Please note**</div>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <div class="callout-container">
        <p style="color: black;">For AniML beta testing, please use images in the "model 2 classifications images" folder from the zip file you downloaded.

            <br><br>
            You may redownload the file here if needed:
        </p>

    <center>
        <a href="static/images/beta testing dataset.zip" download="beta_testing_files">
        <button type="button">Download beta testing files</button>
        </a>
    </center>

    </div>
</div>

<script>
    function tableloopfx() {
    var table = document.getElementById("result_txt").value;
    var df = {"dataframe": table}
    console.log("---------------")
    console.log(df)
    
    $.ajax(
            {
                type:'GET',
                contentType:'application/json;charset-utf-08',
                url:'http://127.0.0.1:8080/inference_post/' + table,
                // async: true,
                // url:'http://127.0.0.1:8080/inference_post' , table
                dataType:'json',
                // data: JSON.stringify(df),
                // data: '{"test_key": "test_value"}',
                success: function (result) {
                    console.log(result)
                    // var reply=data.reply;
                    // if (reply=="success")
                    // {
                    //     return;
                    // }
                    // else
                        // {
                        // alert("some error ocured in session agent")
                        // }
                },
                error: function (xhr, resp, text){
                    console.log(xhr, resp, text)
                }

                }
            
        );
}
    
</script>

</body>

</html>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}