{% extends "base.html" %}
{% set active_page = "inference" %}

{% block title %}Inference{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}


{% block page_content %}
<h1 class="cap">Auotmatic Image Detection</h1>

    <p>No more combing through thousands of false triggers! <br>
    Simply add all your images below or a zip file of your images and we’ll cluster them into similar groups based on likeness.
    <br>
    <br>
</p>

<script type="text/javascript">
    function previewFile() {
        console.log("document:")
        console.log(document)
        var inputs = document.querySelectorAll('input[type=file]');
        console.log("inputs:")
        console.log(inputs)
        var inputs_array = [...inputs];
        var file_list = inputs[0].files
        console.log(file_list)
        console.log(inputs_array)
        for(let i=0; i<file_list.length; i++){
            // let file = inputs[i].files[0];
            let file = file_list[i];
            console.log("filename:")
            console.log(file)
            //use file
            const reader = new FileReader();
            reader.addEventListener("load", function() {
                uploadFile(file)
            }, false);
            if (file) {
                reader.readAsDataURL(file);
            }
        }
    }

    function uploadFile(file) {
        var formData = new FormData();
        formData.append('file', file);
        fetch('/upload', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                console.log(response);
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>
<form action="/action_page.php">
  <input type="file" id="files"
         name="files[]" multiple
         onchange="previewFile()"
         accept="image/*, zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed"><br><br>
  <label id="files-upload-label" for="files"><i previewFile()></i></label>

</form>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}