{% extends "base.html" %}
{% set active_page = "review" %}

{% block title %}Label{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Review Image Classifications</h1>


<h2>Model Predictions with cutoff of: </h2>
<h4>Confidence score cutoff = {{reclass_conf_lev_cutoff}}</h4>
{% if model_predictions %}
<img src="static/images/analytics/conf_table_reclassified.png" alt="Model Classification Table" width=”500″ height=”600″>
{% else %}
<img src="static/images/analytics/conf_table_initial.png" alt="Model Classification Table" width=”500″ height=”600″>
{% endif %}

<br><br>
<h3>Reclassify with new confidence level</h3>
<form action="/reclassify_predictions" method="post">
    <input type="number" name="conf_lev" id="conf_lev"
    max="1.0000000000000000" min="0.0000000000000000" 
    placeholder="e.g. 0.50" step="0.01" 
    value="" required />
    <input type="submit">
</form>

<br><br>
<h3>Reset classification to default model outputs</h3>
<form action="/review" method="get">
    <input type="submit" value="Reset classifications">
</form>

    
<br><br>

<body>
<center>
    <h1>Image Classification Results</h1>
</center>

<style type="text/css">
    table {
        border-collapse: collapse;
    }
    #one th {
        border: 1px solid white; 
    }
    #one td {
        border: 1px solid white; 
    }
</style>


<table border="5" align="center"> 
    <tr>
        <th colspan="3">
            <h3>
                <center>Random Sample Images Per Class at Current Cutoff</center>
            </h3>
        </th> 
    </tr>
    <tr id="one">
        <th><center><h3>Predicted Does Not Contain Animal</h3></center></th>
        <th><font color="white">------y</font></th>
        <th><center><h3>Predicted Does Contain Animal</h3></center></th>
    </tr>
    <tr id="one">
        <th>
            <center>
                <a href="static/images/outputs/predicted_0.zip" download="class_0">
                <button type="button">Download class 0</button>
                </a>
            </center>
        </th>
        <th></th>
        <th>
            <center>
                <a href="static/images/outputs/predicted_1.zip" download="class_1">
                <button type="button">Download class 1</button>
                </a>
            </center>
        </th>
    </tr>
    <tr id="one">
        <td>
            <figure>
                <img src="{{'static/images/predicted_0/' + random_files_names[0][0]}}" alt="Class No Animal - Random Image 1" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[0][0]}}</figcaption>
            </figure>
        </td>
        <td></td>
        <td>
            <figure>
                <img src="{{'static/images/predicted_1/' + random_files_names[1][0]}}" alt="Class Animal - Random Image 1" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[1][0]}}</figcaption>
            </figure>
        </td>
    </tr>
    <tr id="one">
        <td>
            <figure>
                <img src="{{'static/images/predicted_0/' + random_files_names[0][1]}}" alt="Class No Animal - Random Image 2" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[0][1]}}</figcaption>
            </figure>
        </td>
        <td></td>
        <td>
            <figure>
                <img src="{{'static/images/predicted_1/' + random_files_names[1][1]}}" alt="Class Animal - Random Image 2" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[1][1]}}</figcaption>
            </figure>
        </td>
    </tr>
    <tr id="one">
        <td>
            <figure>
                <img src="{{'static/images/predicted_0/' + random_files_names[0][2]}}" alt="Class No Animal - Random Image 3" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[0][2]}}</figcaption>
            </figure>
        </td>        
        <td></td>
        <td>
            <figure>
                <img src="{{'static/images/predicted_1/' + random_files_names[1][2]}}" alt="Class Animal - Random Image 3" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[1][2]}}</figcaption>
            </figure>
        </td>
    </tr>
    <tr id="one">
        <td>
            <figure>
                <img src="{{'static/images/predicted_0/' + random_files_names[0][3]}}" alt="Class No Animal - Random Image 4" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[0][3]}}</figcaption>
            </figure>
        </td>        
        <td></td>
        <td>
            <figure>
                <img src="{{'static/images/predicted_1/' + random_files_names[1][3]}}" alt="Class Animal - Random Image 4" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[1][3]}}</figcaption>
            </figure>
        </td>
    </tr>
    <tr id="one">
        <td>
            <figure>
                <img src="{{'static/images/predicted_0/' + random_files_names[0][4]}}" alt="Class No Animal - Random Image 5" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[0][4]}}</figcaption>
            </figure>
        </td>        
        <td></td>
        <td>
            <figure>
                <img src="{{'static/images/predicted_1/' + random_files_names[1][4]}}" alt="Class Animal - Random Image 5" style="width:600px;height:auto;">
                <figcaption>{{random_files_names[1][4]}}</figcaption>
            </figure>
        </td>
    </tr>
</table>

</body>



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}