{% extends "base.html" %}
{% set active_page = "review" %}

{% block title %}Label{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Review Images</h1>

<p>Click into each cluster to review it’s contents.<br>
    If it contains an object of interest you’d like to automatically detect, select it for labeling.<br>
    <br>

    {% if model_predictions %}
    <h2>Model Predictions with new cutoff of {{reclass_conf_lev_cutoff}}</h2>
    <img src="static/images/analytics/conf_table_reclassified.png" alt="Model Classification Table" width=”500″ height=”600″>
    {% else %}
    <h2>Model Predictions</h2>
    <img src="static/images/analytics/conf_table_initial.png" alt="Model Classification Table" width=”500″ height=”600″>
    {% endif %}
    
    
    <h3>Reclassify with new confidence level</h3>
    <form action="/reclassify_predictions" method="post">
        <input type="number" name="conf_lev" id="conf_lev"
        max="1.0000000000000000" min="0.0000000000000000" 
        placeholder="e.g. 0.50" step="0.01" 
        value="" required />
        <input type="submit">
    </form>
    

<body>
    <div>
        <h3>Click this submit button below to randomly view images from each class at 
            current cuttoff level </h3>
        <form action="/review_random_file" method="get">
            <input type="submit">
        </form>
        {% if random_files_names %}
        <h3>Random Sample Images Per Class at Current Cutoff: </h3>
        <h4>Predicted Does Not Contains Animal</h4>
        <figure>
            <img src="{{'static/images/inference_images/' + random_files_names[0]}}" alt="Random Class 0" style="width:300px;height:auto;">
            <figcaption>{{random_files_names[0]}}</figcaption>
        </figure>
        <h4>Predicted Does Contains Animal</h4>
        <figure>
            <img src="{{'static/images/inference_images/' + random_files_names[1]}}" alt="Random Class 1" style="width:300px;height:auto;">
            <figcaption>{{random_files_names[1]}}</figcaption>
        </figure>
        {% endif %}
    </div>




{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}