body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.wrapper{
    max-width: 960px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    padding-top:50px;
}

.responsive{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 5px solid black;
    table-layout: fixed;
    width: 600px;
  }
th td {
	border: 1px solid white;
	width: 300px;
	overflow: hidden;
}
